<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/favicon.ico" />
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800|Raleway:400,200,100,500,700,800&amp;subset=latin,latin-ext" type="text/css" media="all">
    <link rel="stylesheet" href="/bulma.css">-->
    <link rel="stylesheet" href="/assets/styles/nomadogeeks.css">

    <title>nomadoGEEKS | {{ page.title }}</title>
  </head>
  <body class="has-navbar-fixed-top" data-build="{{ site.time | date_to_xmlschema }}">
    <script src="/assets/scripts/vue.js"></script>
    <script src="/assets/scripts/vue-router.js"></script>
    <!--<script src="https://d3js.org/d3.v3.min.js"></script>-->
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="/assets/scripts/d3-geo.min.js"></script>
    <!--<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>-->
    <script src="/assets/scripts/topojson.min.js"></script>
    <script src="/assets/scripts/nomadogeeks-common.js" type="module"></script>
    <script src="/assets/scripts/nomadogeeks-geography.js" type="module"></script>
    <script src="/assets/scripts/nomadogeeks-lazyimage.js" type="module"></script>
    <script src="/assets/scripts/nomadogeeks-posts.js" type="module"></script>
    <script src="/assets/scripts/nomadogeeks.js" type="module"></script>
    <div class="vspacer is-hidden-touch"></div>
    {{ content }}
  </body>
</html>
