{% raw %}
<script type="text/x-template" id="image-preview-template">
  <div class="post-preview">
    <transition name="post-preview-animator" mode="out-in"><div class="animator" v-bind:key="element.id"></div></transition>
    <article class="container">
      <a @click="$parent.$emit('magnify', element.id)">
        <div class="thumbnail">
          <figure class="image is-2by1">
            <background-image :url="element.path" />
          </figure>
          <div class="description">
            <h2 v-bind:title="element.description">{{ element.name || element.location || " " }}</h2>
            <br />
            <p><span v-if="element.location && element.name">{{ element.location }}, </span>{{ getLocation(element.country) }}, {{ element.date | formatDate }}</p>
          </div>
          <flag v-bind:location="element.country" class="is-hidden-touch"></flag>
        </div>
      </a>
    </article>
  </div>
</script>
{% endraw %}
