{% raw %}<script type="text/x-template" id="pagination-template">
  <div class="container is-desktop">
    <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
      <a class="pagination-previous" v-on:click="$parent.previous()">Précédente</a>
      <a class="pagination-next" v-on:click="$parent.next()">Suivante</a>
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1" v-if="page > 1" v-on:click="$parent.goTo(0)">1</a></li>
        <li><span class="pagination-ellipsis" v-if="page > 2">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45" v-if="page > 0" v-on:click="$parent.goTo(page - 1)">{{ page }}</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ page + 1 }}</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47" v-if="page < total - 1" v-on:click="$parent.goTo(page + 1)">{{ page + 2}}</a></li>
        <li><span class="pagination-ellipsis" v-if="page < total - 1">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86" v-if="page < total - 2" v-on:click="$parent.goTo(total - 1)">{{ total }}</a></li>
      </ul>
    </nav>
  </div>
</script>{% endraw %}
