{% raw %}
<script type="text/x-template" id="post-preview-template">
  <div class="post-preview">
    <transition name="post-preview-animator" mode="out-in"><div class="animator" v-bind:key="post.id"></div></transition>
    <article class="container">
      <a v-bind:href="post.url">
        <div class="thumbnail">
          <figure class="image is-2by1"><img v-bind:src="image" /></figure>
          <div class="description">
            <h2 v-bind:title="post.title">{{ post.title }}</h2>
            <br />
            <p>{{ getLocation(post.location) }}, {{ post.date | formatDate }}</p>
          </div>
          <flag v-bind:location="post.location" class="is-hidden-touch"></flag>
        </div>
      </a>
    </article>
  </div>
</script>
{% endraw %}
